@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Syne+Tactile&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    text-align: center;
    
}

.intro-image {
    background-attachment: fixed;
    background-image: url('../img/image1.jpeg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__text {
    background-color: #cf7a397c;
    border: 2px solid #070502;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.btn {
    color: #110e07;
    text-decoration: none;
}

.intro-image__text:hover, .btn:hover {
    transform: scale(1.1);
}

.intro-text {
    background-color: #81815a;
    color: #534a44;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    margin-top: -3rem;
    padding: 0 10rem;
    clip-path: polygon(75% 15%, 100% 0, 100% 28%, 100% 100%, 73% 100%, 35% 100%, 0 100%, 0% 43%, 0 0);
}

.intro-text__textbox {
    text-align: center;
}

.intro-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
}

.packaging-image {
    background-attachment: fixed;
    background-image: url('../img/image2.jpeg');
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.packaging-image__text {
    background-color: #335d687c;
    border: 2px solid #343332;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.packaging-image__text:hover, .btn:hover {
    transform: scale(1.1);
}

.packaging-text {
    background-color: #53b4d1;
    color: #583722;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.packaging_text__textbox {
    text-align: center;
}

.packaging_text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
}

.tutorials-image {
    background-attachment: fixed;
    background-image: url('../img/image3.jpeg');
    background-size: cover;
    background-position:top;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tutorials-image__text {
    background-color: #6e61577c;
    border: 2px solid #343332;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.tutorials-image__text:hover, .btn:hover {
    transform: scale(1.1);
}

.footer {
    color: rgba(51, 37, 37, 0.397);
    height: 250px;
    background-color: #814720;
    font-size: 2rem;
    padding-top: 2rem;
    text-align: center;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    color: rgba(33, 27, 27, 0.397);
    text-decoration: none;
}

.footer ul li:hover, .footer ul li a:hover {
    color: rgba(22, 17, 17, 0.596);
    transform: scale(1.1);
}